[core]
	excludesfile = /Users/danielhusar/.gitignore_global
	pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Daniel Husar
	email = dano.husar@gmail.com
[branch "master"]
  remote = origin
  merge = refs/heads/master